# Don't install optional dependencies
omit=optional

# Save package-lock to avoid extra disk usage
package-lock=true

# Reduce npm verbosity to save disk space in logs
loglevel=error

# Disable audit reports which slows down npm
audit=false

# Disable automatic update checks
update-notifier=false

# Faster progress bar
progress=true
